@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

.carousel-item-padding {
  padding: 0 10px; /* Adjust the spacing as needed */
}

.react-multiple-carousel__arrow--left {
  left: 10px; /* Adjust as needed to move the left arrow closer */
}

.react-multiple-carousel__arrow--right {
  right: 10px; /* Adjust as needed to move the right arrow closer */
}

.custom-dot-list-style {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-dot-list-style li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-container-smooth {
  position: relative;
  padding-bottom: 50px;
}

.carousel-container-clients {
  position: relative;
}
